.subpage-header {
    text-align: center;
    margin-top: 2em;
    font-family: "Berkshire Swash";
    font-weight: bold;
}

.image-container {
    text-align: center;
    display:inline-block;
    background-color: transparent;
    border: 1px solid transparent;
    width: 100%;
    font-style: italic;
    color: #B0BFCA;
    font-weight: bold;
    margin-bottom: 1em;
}

p {
    margin: 0 0 1em 0;
}

.spot-info {
    font-family: "Berkshire Swash";
    text-align: center;
}

.info {
    margin-bottom: 0.4em;
}

input {
    width: 80%;
    padding: 1em;
    margin-top: 0.5em;
}
