div.user-img-container {
    text-align: center;
    margin-bottom: 2em;
    margin-top: 6em;
}

.user-img-container:hover {
    opacity: 50%;
    cursor: pointer;
}

.user-profile-img {
    height:198px;
    width: 234px;
}

p {
    text-align: center;
}

.profile-bio {
    text-align: center;
    font-family: "Berkshire Swash";
}

.sub-title {
    font-family: "Berkshire Swash";
}